Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-Login==0.6.2
gunicorn==21.2.0
python-dotenv==1.0.0
Werkzeug==2.3.6
Pillow==10.0.0
torch==2.2.2
torchvision==0.17.2
basicsr==1.4.2
realesrgan==0.3.0
